.hrcbf{font-size: 70px;color: red;border: 4px solid red;text-align: center;text-decoration: solid;text-shadow: 0cqb;padding: 1%;margin-top: 0%;}

.pfcbp{font-size: 40;color: blue;border-color: red;padding: 1%;text-align: center;margin-top: 10px;}
body{background-image: url(Boxing.jpg);background-size: cover;}
.cso{color:white;font-size: 40px;}
h1{color: azure;font-size: 40px;}


.cpi {font-size: 40px;color: aquamarine;}

.abc{font-size: 40px;color: aquamarine;margin: 2px;}

.bn{text-align: center;}